*{
	margin: 0; 
	padding: 0; 
	text-decoration: none;
	font-weight: 300; 
	vertical-align: top;
}

.bold{
	font-weight: 600;
}

.bold-big{
	font-weight: 900;
}

.font-small{
	font-size: 0.9em;
}

.font{
	font-size:1.0em;
}

.font-big{
	font-size: 1.25em;
}

.font-super{
	font-size: 1.35em;
}

.color-gray-light{
	color: #eee;
}

.color-gray{
	color: #ccc;
}

.color-gray-dark{
	color: #aaa;
}

.margin-bottom-small{
 	margin-bottom: 5px;
}

.margin-bottom{
 	margin-bottom: 10px;
}

.margin-bottom-big{
 	margin-bottom: 15px;
}

.padding-small{
 	padding: 5px;
}

.padding{
 	padding 10px;
}

.padding-big{
 	padding: 15px;
}

.border-light{
	border: solid #eee 1px;
}

.border{
	border: solid #ccc 1px;
}

.border{
	border: solid #aaa 1px;
}


.clear-both{
	clear: both;
}