{%  extends parent_template %}

{% block content-all %}

<form name="{{form.tclass}}" action="{{request.get_full_path}}" method="POST" {% if form.fupload %}enctype="multipart/form-data"{%endif %} class="form-shadow">
    <h3>{{form.name}}</h3>
    {% csrf_token %}  
    
    {% if form.non_field_errors  %}
    	<div class="error">
    		{{ form.non_field_errors }} 
    	</div>
    {% endif %}
    
 	<table>
	    {% for field in form %}
    		<tr>
				<td><label>{{ field.label_tag|title }}</label></td>	
	        	<td>{{ field|safe }}</td>
	        	<td>
	        		
				        {% for error in field.errors %}
				        	
					        <small class="error">
								<img src="/a/static/default/Batch-master/PNG/16x16/asterisk.png" class="action-icon"></img> {{ error|escape }}
					        </small>
				        {% endfor %}
			    </td>
			</tr>
		{% endfor %}
    
    	<tr>
	    	<td></td>
	    	<td> 
	    		<input type="submit" value="{{form.tsubmit}}" class="submit"></input>
	    	</td>
	    	<td>
	    	</td>
	    </tr>
	    
	    {% if form.tz_html %}
	    <tr>
	    	<td></td>
	    	<td> 
	    		{{form.tz_html|safe}}
	    	</td>
	    	<td>
	    	</td>
	    </tr>
	    {% endif %}
    </table>
</form>

{% endblock %}