<html>
{% block html-header %}
	<head>
		<title>{% block title %}{% endblock %}</title>
		
		{% block css %}
			<link rel="stylesheet" type="text/css" href="/a/static/default/css/style.css">
		{% endblock %}
		
		{% block css2 %}{% endblock %}
		{% block css3 %}{% endblock %}
		
		<script type='text/javascript' src='/a/static/default/js/jquery-1.11.0.min.js'></script>
		
		<script>
		var MagicNode = {};
		
		MagicNode.ajax = function(url, method, data, success_func){
			var r_obj = $.ajax({
				url: url,
				type: method,
				data: data,
				dataType: "json",
				success: success_func});
		}
		
		MagicNode.form_load = function(url, div_id, list_id, msg_id){
			MagicNode.ajax(url, "GET", {}, function(r_obj){
					$("#" + div_id).html(r_obj.content);
					
					$("#" + div_id + " .submit").click(function(event){
						MagicNode.std_form_submit(div_id, list_id, msg_id);
						});
					
					$("#" + div_id + " form").click(function(event){
							event.preventDefault();});
			});
		}
		
		MagicNode.std_form_submit = function(div_id, list_id, msg_id){
			url = $("#" + div_id + " form").attr('action');
			MagicNode.ajax(url, "POST",  $("#" + div_id + " form").serialize(), function(r_obj){
				if(r_obj.substatus && r_obj.substatus == 'processed'){
					$("#" + list_id).append(r_obj.content).fadeIn(999);
					MagicNode.form_load(url, div_id, list_id, msg_id);
				}
				else{						   
					$("#" + div_id).html(r_obj.content);
					
					$("#" + div_id + " .submit").click(function(event){
						MagicNode.std_form_submit(div_id, list_id, msg_id);
						});
					
					$("#" + div_id + " form").click(function(event){
							event.preventDefault();});
				}	
			});
		}
		
		
		MagicNode.list_load = function(url, div_id, more_bnt_id, curr_page_id, last_page_id){
			curr_page = $("#" + curr_page_id).val();
			curr_page = parseInt(curr_page);
			
			url = url + "&page=" + curr_page + "&item_per_page=5";
			MagicNode.ajax(url, "GET", {}, function(r_obj){
												$("#" + div_id).append(r_obj.content);
												
												btn_id = more_bnt_id + "-btn";
												last_page = r_obj.part_paging.last_page;
												if(curr_page < last_page){
														//alert('show more');
														$("#" + more_bnt_id).html('<button id="' + btn_id + '">More</button>');
														$("#more_bnt_id").show();
														
														$("#" + btn_id).click(function(event){
																MagicNode.list_load(url, div_id, more_bnt_id, curr_page_id, last_page_id );
						
														});
														
														next_page = curr_page + 1;
														//alert("next page " + next_page);
														$("#" + curr_page_id).val(next_page);
														
												}else{
														$("#" + btn_id).hide();
												}	
								});
		}
		
		
		</script>

		{% block js %}{% endblock %}
		{% block js2 %}{% endblock %}
		{% block js3 %}{% endblock %}
		
	</head>
{% endblock %}

<body>

<div class="header">
  <div class="section-wrap">
	{% block header %}
    	<p class="logo"><img src="/a/static/default/img/logo.png"></img></p>
    	
    	<p>
    		<a href="">Log In</a>	
    		<a href="">Sign Up</a>
    	</p>
    	<div class="clearboth"></div>
   	{% endblock %}
  </div>
</div>


<div class="content">
  <div class="section-wrap">
  	 {% block content-all %}
  		{% block msg %}
				{% if messages %}
				<ul class="msg">
					{% for m in messages %}
						{{m}}
					{% endfor %}
				</ul>
			{% endif %}
		{% endblock %}
		{% block main %}
    	<div class="left-col" id="left-col">
			{% block left-col %}
			{% endblock %}
		</div>
		
		<div class="main-col" id="main-col">
			{% block content %}
			{% endblock %}
		</div>
	    
	    <div class="right-col" id="right-col">
			{% block side-bar %}
			{% endblock %}
		</div>
		{% endblock %}
	{% endblock %}
  </div>
  <div class="clearboth"></div>
</div>

<div class="footer">
  <div class="section-wrap">
  		{% block footer %}
		<ul class="inline">
			<li><a href="">Privacy</a></li>
			<li><a href="">About</a></li>
		</ul>
		{% endblock %}
  </div>
</div>


{% block js_layout_height %}
<script>
	left_col = document.getElementById("left-col").offsetHeight;
	right_col = document.getElementById("right-col").offsetHeight;
	main_col = right_col = document.getElementById("main-col").offsetHeight;
	
	max = left_col;
	if (right_col > max){
		max = right_col;
	}
	if (main_col > max){
		max = main_col;
	}
	
	document.getElementById('left-col').setAttribute("style","height:" + max + "px");
	document.getElementById('right-col').setAttribute("style","height:" + max + "px");
	document.getElementById('main-col').setAttribute("style","height:" + max + "px");
	
</script>
{% endblock %}


{% block js_last %}
{% endblock %}

{% block js_last2 %}
{% endblock %}

{% block js_z3 %}
{% endblock %}

</body>
</html>
