{%  extends parent_template %}

{% block css2 %}
{% endblock %}

{% block left-col %}	
	{% include 'magic/list_part_filter.html' %}
{% endblock %}	

{% block content %}		
		<p class="list-part-page-info">
			{% include 'magic/list_part_page_info.html' %}
		</p>	
	
		<p class="list-part-sort">
			{% include 'magic/list_part_sort.html' %}
		</p>
	
		<p class="list-part-filter-selected">
			{% include 'magic/list_part_filter_selected.html' %}
		</p>
	
		<p class="list-part-list">
			{% include 'magic/list_part_list.html' %}
		</p>
		
		<p class="list-part-pagination">
			{% include 'magic/list_part_pagination.html' %}
		</p>
{% endblock %}	
